:root {
    --col1: #0dc8ee;
}

.scroll-hidden {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-hidden::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.max-vh-100 {
    max-height: 100vh;
}

.h-100px {
    height: 100px;
}

form input:focus, .light:hover, .light:focus {
    box-shadow: 0 0 5px 1px var(--col1) !important;
}


input,
button, .light {
    transition: 0.3s all ease !important;
}

form textarea:focus {
    box-shadow: none !important;
}

header .search img {
    margin-top: -3px;
}

ul ul .comment {
    padding-left: 4rem;
}

/*@media screen and (min-width: 700px) {*/

/*}*/
